"*":
  "exception-reporting":
    userId: "c07cc71f-3a08-5ab6-3e13-bfcd07248ce8"
  "release-notes":
    viewedVersion: "0.95.0"
  welcome:
    showOnStartup: false
  metrics:
    userId: "40500e3fd44453a1e0c923aff91cee272f96181a"
  editor:
    scrollPastEnd: true
    invisibles: {}
    showIndentGuide: true
    fontSize: 11
  core:
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
    ]
    disabledPackages: [
      "language-perl"
      "language-php"
      "language-python"
      "language-ruby-on-rails"
      "language-ruby"
      "todo-show"
      "glist"
      "omnisharp-atom"
      "minimap-color-highlight"
      "live-archive"
      "language-diff"
      "crosshairs"
      "language-jsx"
      "url-encode"
      "atom-color-highlight"
    ]
    projectHome: "/Users/daniel/dev/ds"
    destroyEmptyPanes: false
    themes: [
      "one-light-ui"
      "paradise-light-syntax"
    ]
  "markdown-preview":
    breakOnSingleNewline: true
    grammars: [
      "source.gfm"
      "source.litcoffee"
      "text.plain"
      "text.plain.null-grammar"
    ]
  "coffee-compile":
    grammars: [
      "source.coffee"
      "source.litcoffee"
    ]
    focusEditorAfterCompile: true
  runner:
    scopes:
      coffee: "coffee"
      js: "node"
      ruby: "ruby"
      python: "python"
  "highlight-selected":
    highlightBackgorund: false
    highlightBackground: true
    hideHighlightOnSelectedWord: true
    lightTheme: true
  "atom-beautify":
    analytics: false
    _analyticsUserId: "13a9ebb4-3214-4a69-b0d5-c6c30f2d0481"
  "git-diff":
    showIconsInEditorGutter: true
  minimap:
    plugins:
      selection: true
      "highlight-selected": true
      "color-highlight": true
      "find-and-replace": true
      "minimap-hide": true
      bookmarks: true
      pigments: true
      "git-diff": true
    v4Preview: true
    scrollAnimation: true
  "spell-check": {}
  "autocomplete-plus":
    includeCompletionsFromAllBuffers: true
    suggestionListFollows: "Word"
  "tree-view": {}
  "block-cursor":
    preview: "The quick brown fox jumps over the lazy dog"
    secondaryColor:
      red: 0
      green: 250
      blue: 146
      alpha: 1
    primaryColor:
      red: 0
      green: 253
      blue: 255
      alpha: 1
    pulseDuration: 800
  "project-palette-finder":
    paletteDisplay: "grid"
    paletteSort: true
  "ease-blink": {}
  "git-plus": {}
  "git-blame": {}
  "one-dark-ui":
    layoutMode: "Compact"
  "apathy-theme": {}
  "base16-syntax":
    scheme: "Twilight"
    matchUserInterfaceTheme: false
  "one-light-ui":
    layoutMode: "Compact"
  tabs:
    usePreviewTabs: true
  typewriter:
    scopes: "source.coffee,source.litcoffee,source.coffee.md,source.json"
  pigments: {}
  "file-icons":
    forceShow: true
"source.json":
  editor:
    softWrap: true
"source.coffee":
  editor:
    softWrap: true
