'exception-reporting':
  'userId': 'c07cc71f-3a08-5ab6-3e13-bfcd07248ce8'
'release-notes':
  'viewedVersion': '0.70.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '40500e3fd44453a1e0c923aff91cee272f96181a'
'editor':
  'fontSize': 14
  'fontFamily': 'Inconsolata for Powerline'
'core':
  'themes': [
    'spacegray-dark-ui'
    'base16-ocean-dark-spacegray'
  ]
  'ignoredNames': [
    '.git'
    '.svn'
    '.DS_Store'
  ]
