// Override the 'locate-fa' font face to point to the global fontawesome
@font-face {
  font-family: 'locate-fa';
  src: url('/font/fontawesome-webfont.eot?9201824');
  src: url('/font/fontawesome-webfont.eot?9201824#iefix') format('embedded-opentype'),
       url('/font/fontawesome-webfont.woff?9201824') format('woff'),
       url('/font/fontawesome-webfont.ttf?9201824') format('truetype'),
       url('/font/fontawesome-webfont.svg?9201824#locate-fa') format('svg');
  font-weight: normal;
  font-style: normal;
}

.leaflet-container {
  background-color: white;
}

.gps-pin {
  color: #006fa2;
  font-size: 300%;

  & > i {
    margin-top: -35px;
    margin-left: -5px;
    display: block;
  }
}

.leaflet-legend {
  background-color: white;
}
.leaflet-legend > .body {
  margin-top: 27px;
  display: none;
}
.leaflet-legend.open > .body {
  display: block;
}
